<div id="line-footer">
    <div class="container-fluid">
        <div class="d-flex flex-row mb-3 justify-content-around">
            <div class="pt-4 d-flex flex-row">
                <div class="fw-bold fs-4 pe-2">
                    General enquiries
                </div>
                <div class="pt-1 d-flex flex-row">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23px" height="23px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
                    <g>
                    <path d="M137.6,159c32.4-32.4,60.7-52.4,3.2-123.9S45,18.5,13.6,49.9c-36.3,36.3-2,171.4,131.6,305
		                    c133.5,133.5,268.7,167.8,304.9,131.6c31.4-31.4,86.3-69.7,14.8-127.2s-91.5-29.2-123.9,3.2c-22.6,22.7-79.9-24.6-129.4-74.1
		                    S114.8,181.6,137.6,159z"></path>
                    </g>
                    </svg>

                    <div class="fs-5">13 72 22</div>
                
                </div>
            </div>

            <div class="pt-4 d-flex flex-row justify-content-center">
                <div class="fw-bold fs-4 pe-2">
                    Roadside Assistance
                </div>
                <div class="pt-1 d-flex flex-row">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23px" height="23px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
                    <g>
                    <path d="M137.6,159c32.4-32.4,60.7-52.4,3.2-123.9S45,18.5,13.6,49.9c-36.3,36.3-2,171.4,131.6,305
		                    c133.5,133.5,268.7,167.8,304.9,131.6c31.4-31.4,86.3-69.7,14.8-127.2s-91.5-29.2-123.9,3.2c-22.6,22.7-79.9-24.6-129.4-74.1
		                    S114.8,181.6,137.6,159z"></path>
                    </g>
                    </svg>

                    <div class="fs-5">13 55 55</div>

                </div>
            </div>
            <div class="pt-4 d-flex flex-row justify-content-center">
                <div class="fw-bold fs-4 pe-2">
                    Insurance Claims
                </div>
                <div class="pt-1 d-flex flex-row">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23px" height="23px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
                    <g>
                    <path d="M137.6,159c32.4-32.4,60.7-52.4,3.2-123.9S45,18.5,13.6,49.9c-36.3,36.3-2,171.4,131.6,305
		                    c133.5,133.5,268.7,167.8,304.9,131.6c31.4-31.4,86.3-69.7,14.8-127.2s-91.5-29.2-123.9,3.2c-22.6,22.7-79.9-24.6-129.4-74.1
		                    S114.8,181.6,137.6,159z"></path>
                    </g>
                    </svg>

                    <div class="fs-5">13 19 99</div>

                </div>
            </div>
        </div>
    </div>  <!-- End of Container -->
</div>  <!-- End of line-footer -->