
@{
    ViewData["Title"] = "About Us";
}

<div id="home" class="mb-5">
    <div class="container">
        <div class="row pt-4">
            <div class="col-12 col-lg-6 my-5">
                <h1 class="fw-bolder">
                    <span>
                        About RACV
                    </span>
                </h1>
                <p>
                    We exist to improve lives in the areas of motoring and mobility, home, cleaner energy and leisure
                </p>
            </div>
        </div>  <!-- End of Row -->
    </div>  <!-- End of Container -->
</div>
<section id="reason">
    <div class="container">
        <div class="row">
            <article>
                <h2 style="font-weight:bold; padding: 1rem">
                    Our purpose
                </h2>
                <div>
                    <p style="font-size:19px">
                        Since 1997, X has been one of Australia’s most trusted brands and is the largest member organisation in Victoria.
                    </p><br />
                    <p style="font-size:19px">
                        X is proud to provide exceptional experiences for our Members and customers through a range of products and services across motoring and mobility, home, energy and leisure. These include Emergency Roadside Assistance, Motor Insurance, Home Insurance, Home Trades and an increasing range of options in the cleaner energy space, such as X Solar. We have nine Resorts across Australia and a range of domestic and international holiday packages, tours and cruises from our trusted travel partners.
                    </p>
                </div>
            </article><!-- End of Article-->
        </div><!-- End of Row -->
    </div>  <!-- End of Container -->
</section>  <!-- End of About -->

<partial name="_LineFooter" />
