@{
	ViewData["Title"] = "About Us";
}

<div id="home" class="mb-5">
	<div class="container">
		<div class="row pt-4">
			<div class="col-12 col-lg-6 my-5">
				<h1 class="fw-bolder">
					<span>
						About RaCE
					</span>
				</h1>
				<p>
					We exist to improve lives in the areas of motoring and mobility, home, cleaner energy and leisure
				</p>
			</div>
		</div>  <!-- End of Row -->
	</div>  <!-- End of Container -->
</div>
<section id="reason">
	<div class="container">
		<div class="row">
			<article>
				<h2 style="font-weight:bold; padding: 1rem">
					Our purpose
				</h2>
				<div>
					<p style="font-size:19px">
						Since 1997, RaCE has been one of the most trusted brands and is the largest member organisation.
					</p><br />
					<p style="font-size:19px">
						RaCE is proud to provide exceptional experiences for our Members and customers through a range of products and services.
						These include Emergency Roadside Assistance, Motor Insurance.
						We have nine Resorts and a range of domestic and international holiday packages, tours and cruises from our trusted travel partners.
					</p>
				</div>
			</article><!-- End of Article-->
		</div><!-- End of Row -->
	</div>  <!-- End of Container -->
</section>  <!-- End of About -->
<hr />
<section class="inner_page_breadcrumb">
	<div class="container">
		<div class="row">
			<div class="col-xl-6">
				<div class="breadcrumb_content">
					<h2 class="breadcrumb_title">About us</h2>
					<ol class="breadcrumb">
						@*<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">About us</li>*@
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Our Terms & Conditions -->
<section class="our-terms pb70">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xl-3">
				<div class="why_chose_us home1_style">
					<div><img src="~/img/teammember/mem1.png" width="220px" style="border-radius:10px;" alt="1.png"> </div>
					<div class="details">
						<h4 class="title">Nguyễn Toán</h4>
						<p>
							Student Code: 1328430
							<br /><br />
							<a href="https://www.facebook.com/nguyen.maaguaete">
								<span class="c-icon">
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve"><path d="M388.9,86.6h-79.9c-8.5,0-19,12-19,29.5v57.4h98.9v81.4H290v244.8h-93.9V254.9h-84.9V173h84.9v-48.5c0-69.4,48.5-124.9,112.9-124.9h79.9V86.6L388.9,86.6z"></path></svg>
								</span>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-3 pe-3">
				<div class="why_chose_us home1_style">
					<div> <img src="~/img/teammember/mem3.jpg" width="273px" style="border-radius:10px;"> </div>
					<div class="details">
						<h4 class="title">Nguyễn Ngọc Kim Ngân</h4>
						<p>
							Student Code: 1317115
							<br /><br />
							<a href="https://www.facebook.com/ngan.nguyen327">
								<span class="c-icon">
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve"><path d="M388.9,86.6h-79.9c-8.5,0-19,12-19,29.5v57.4h98.9v81.4H290v244.8h-93.9V254.9h-84.9V173h84.9v-48.5c0-69.4,48.5-124.9,112.9-124.9h79.9V86.6L388.9,86.6z"></path></svg>
								</span>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="why_chose_us home1_style">
					<div> <img src="~/img/teammember/mem2.png" width="220px" style="border-radius:10px;"> </div>
					<div class="details">
						<h4 class="title">Trương Dương Trúc Duy</h4>
						<p>
							Student Code: 1333971
							<br /><br />
							<a href="https://www.facebook.com/truongduongtrucduy">
								<span class="c-icon">
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve"><path d="M388.9,86.6h-79.9c-8.5,0-19,12-19,29.5v57.4h98.9v81.4H290v244.8h-93.9V254.9h-84.9V173h84.9v-48.5c0-69.4,48.5-124.9,112.9-124.9h79.9V86.6L388.9,86.6z"></path></svg>
								</span>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-3">
				<div class="why_chose_us home1_style">
					<div> <img src="~/img/teammember/mem4.jpg" alt="1.png" width="280px" style="border-radius:10px;"> </div>
					<div class="details">
						<h4 class="title">Nguyễn Phúc Duy</h4>
						<p>
							Student Code: 1333974
							<br /><br />
							<a href="https://www.facebook.com/profile.php?id=100009632360034">
								<span class="c-icon">
									<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve"><path d="M388.9,86.6h-79.9c-8.5,0-19,12-19,29.5v57.4h98.9v81.4H290v244.8h-93.9V254.9h-84.9V173h84.9v-48.5c0-69.4,48.5-124.9,112.9-124.9h79.9V86.6L388.9,86.6z"></path></svg>
								</span>
							</a>
						</p>

					</div>
				</div>
			</div>

		</div>
	</div>
</section>


<partial name="_LineFooter" />
