
@{
    ViewData["Title"] = "Contact";
}

<div id="home" class="mb-5">
    <div class="container">
        <div class="row pt-4">
            <div class="col-12 col-lg-6 my-5">
                <h1 class="fw-bolder">
                    <span>Contact Us </span>
                </h1>
            </div>
        </div>  <!-- End of Row -->
    </div>  <!-- End of Container -->
</div>

<section id="reason">
    <div class="container">
        <div class="row">
            <div class="panel-body" style="font-family:Arial, Helvetica, sans-serif">

                <div class="row">

                    <div class="col-md-6">
                            <legend>OUR BRANCH</legend>
                            <hr>
                            <h3><b>Ho Chi Minh Office</b></h3>
                            <div class="hc-cmp-subtitle title">
                                
                            </div>
                            <ul class="hc-cmp-text-list text-list text-list-line    ">
                                <table>
                                    <tr>
                                        <td> Adress: 590 Cach Mang Thang Tam, Ward 11, District 3, Ho Chi Minh City</td>
                                    </tr>
                                    <tr>
                                        <td> Opening Hour: Daily. Includes Saturday, Sunday, and Holidays</td>
                                    </tr>
                                </table>
                            </ul><hr>
                            <h3><b>Ha Noi Office</b></h3>
                            <div class="hc-cmp-subtitle title"></div>
                            <ul class="hc-cmp-text-list text-list text-list-line    ">
                                <table>
                                    <tr>
                                        <td> Address:  8 Ton That Thuyet, My Dinh, Tu Liem, Ha Noi</td>
                                    </tr>
                                    <tr>
                                        <td> Opening Hour: Daily. Includes Saturday, Sunday, and Holidays</td>
                                    </tr>
                                </table>
                            </ul><hr>
                            <h3><b>Social Media</b></h3>
                            <div class="hc-cmp-subtitle title"></div>
                            <ul class="hc-cmp-text-list text-list text-list-line    ">
                                <li>
                                    <a href="https://www.facebook.com/aptech.fpt">
                                        <span class="c-icon">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve"><path d="M388.9,86.6h-79.9c-8.5,0-19,12-19,29.5v57.4h98.9v81.4H290v244.8h-93.9V254.9h-84.9V173h84.9v-48.5c0-69.4,48.5-124.9,112.9-124.9h79.9V86.6L388.9,86.6z"></path></svg>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                <a href="https://youtu.be/G1o_pkQ6Rp8">
                                        <span>
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="-200 -200 500 500" enable-background="new -200 -200 500 500" xml:space="preserve"><path d="M50-141.5c-245,0-250,21.5-250,191.5s5,191.5,250,191.5S300,220,300,50S295-141.5,50-141.5z M130,58.5l-113.5,53c-10,5-16.5,0-16.5-10V1.5c0-10,8.5-15,16.5-13.5L128,41.5C140,45,140,53.5,130,58.5z"></path></svg>
                                        </span>
                                    </a>
                                </li>
                            </ul><hr>
                    </div>
                    <div class="col-md-6" style="font-family:Arial, Helvetica, sans-serif;">

                            <legend>COMMUNICATIONS</legend>
                            <div class="hc-cmp-subtitle title     ">

                            </div>
                            <ul class="hc-cmp-text-list text-list text-list-line    ">
                                <table>
                                    <tr>
                                        <th><i class="fa fa-phone-alt"></th>
                                        <td> Hotline: (028)38460846</td>
                                    </tr>
                                    <tr>
                                        <th><i class="fas fa-envelope"></th>
                                        <td> Email: customerservice@xcarinsurance.vn </td>
                                    </tr>
                                    <tr>
                                        <th><i class="fas fa-globe"></th>
                                        <td>Website: https://aptech.fpt.edu.vn/</td>
                                    </tr>

                                </table>
                            </ul>
                            <ul>
                                <div class="col-md-12" style="text-align: center; margin-bottom: 2rem;">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3193500366883!2d106.66408561394566!3d10.786834792314448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed2392c44df%3A0xd2ecb62e0d050fe9!2sFPT-Aptech%20Computer%20Education%20HCM!5e0!3m2!1sen!2s!4v1605550165904!5m2!1sen!2s"
                                        width="100%" height="300px" frameborder="1" style="border:1;" allowfullscreen=""
                                        aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </ul>
                    </div>
                </div>
            </article><!-- End of Article-->
        </div><!-- End of Row -->
    </div>  <!-- End of Container -->
</section>  <!-- End of About -->

<partial name="_LineFooter" />

<style>
    .c-icon{
        max-height: 1.25rem;
        max-width: 1.25rem;
    }
</style>