
<main class="testimonials">

    <h3 style="font-weight: 400; font-size: 36px;" class="mt-4">Testimonials</h3>
    <p class="text-muted" style="font-size: 22px;">Check what others have to say about us.</p>


    <div class="quote item-quote">

        <i class="fas fa-quote-left"></i>
        <p>
            "I was very pleased with the professionalism of your representative. This is my second time using RaCE Car Insurance.
            I look forward to a long term relationship with RaCE. Hopefully my car won't need servicing for quite awhile.
            This is all I have for now…"</p>
        <div class="quote-author">

            <img src="~/img/customer/testimonials-1.jpg" alt="testimonials">

            <div class="quote-author-body mt-2">
                <h3>Olivar Queen</h3>
                <p>
                    Melbourne Beach, FL
                </p>
            </div>

        </div>
    </div>

    <div class="quote item-quote">

        <i class="fas fa-quote-left"></i>
        <p>
            "I'm paying for my vehicle so I don't wanna have to also have to pay for expensive repairs. 
            I looked into extended warranty companies and went with RaCE because they were more transparent.
            The rep was very detail-oriented and patient. It was a great experience."
        </p>
        <div class="quote-author">

            <img src="~/img/customer/testimonials-4.jpg" alt="testimonials">

            <div class="quote-author-body mt-2">
                <h3>Brianna Chambers</h3>
                <p>
                    Tallahassee, FL
                </p>
            </div>

        </div>
    </div>

    <div class="quote item-quote">

        <i class="fas fa-quote-left"></i>
        <p>
            "I had a great experience with a knowledgeable representative that listened to my needs and he recommended a plan that suited my budget as well. 
            I would highly recommend RaCE to my friends and family.
            I researched other companies and felt like I was being pressured for coverage I did not need and was not in my budget, thanks again"
        </p>
        <div class="quote-author">

            <img src="~/img/customer/testimonials-3.jpg" alt="testimonials">

            <div class="quote-author-body mt-2">
                <h3>Dave Spencer</h3>
                <p>Oldwick, NJ</p>
            </div>

        </div>
    </div>


    <div class="quote item-quote">

        <i class="fas fa-quote-left"></i>
        <p>
            "It's very important to have a warranty, for peace of mind. Acquiring one is a smart thing to do. 
            I looked at four or five other warranty providers, and RaCE had a better package.
            The rep was friendly, knowledgeable and outgoing, and my purchasing experience was fine. 
            I haven't had any issues with my package, and I'm thinking about adding two more vehicles to it. 
            I already called a couple of people about RaCE.
            I told them it's a good package and why it's a good thing to do. We're a military family, and we've passed the word along."
        </p>
        <div class="quote-author">

            <img src="~/img/customer/testimonials-5.jpg" alt="testimonials">

            <div class="quote-author-body mt-2">
                <h3>Marion Mason</h3>
                <p>
                    Savannah, GA
                </p>
            </div>

        </div>
    </div>


</main>