@model VehicleInsuranceClient.Models.Dtos.ChangePasswordDto

@{
    ViewData["Title"] = "ChangePassword";
}

<style>
    .left {
        text-align: left
    }

    .form-group {
        margin-top: 30px;
    }
</style>
<section id="personal" class="text-center">
    <div class="p-5 bg">
        <h2>Account Information</h2>
    </div>

    <div class="card-wrapper">
        <div class="card-item py-5 bg-white">

            <div class="row card-content">

                <div class="col-lg-12">
                    <ul class="nav nav-pills nav-justified personal-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="details" data-bs-toggle="tab" data-bs-target="#personal-details" type="button" role="tab" aria-controls="personal-details" aria-selected="true">Change Password</button>
                        </li>

                    </ul>
                </div>

                <div class="tab-content d-flex flex-column" id="myTabContent">
                    <div class="tab-pane fade show active" id="personal-details" role="tabpanel" aria-labelledby="details" tabindex="0">
                        <div class="mt-3">
                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                            {
                                @*<h5 class="text-danger">@ViewBag.msg</h5>*@
                                <form asp-action="ChangePassword" class="" id="detailsForm" method="post">
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            @*<div class="form-group ">
                                        <input class="form-control details-input" type="password" id="password" name="password" placeholder="Current password">
                                        </div>*@
                                            <div class="form-group left">
                                                <label asp-for="Password" class="control-label"></label>
                                                <input asp-for="Password" class="form-control" type="password" />
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            @*<div class="form-group">
                                        <input class="form-control details-input" type="password" name="changepassword" id="changepassword" placeholder="New password">
                                        </div>*@
                                            <div class="form-group left">
                                                <label asp-for="ChangePassword" class="control-label"></label>
                                                <input asp-for="ChangePassword" class="form-control" type="password" />
                                                <span asp-validation-for="ChangePassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            @*<div class="form-group">
                                        <input class="form-control details-input" type="password" name="confirmpassword" id="confirmpassword" placeholder="Retype new password">
                                        </div>*@
                                            <div class="form-group left">
                                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="save-btn" type="submit" value="Save-Changes">
                                            Save Changes
                                        </button>
                                    </div>

                                </form>
                            }
                            @if (@ViewBag.msg != null)
                            {
                                <script type="text/javascript">
                                    window.onload = function () {
                                        alert("@ViewBag.msg");
                                    };

                                </script>
                            }
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

